<h2>検索結果</h2>
<h4>キーワード検索</h4>
<%= render 'user/homes/search' %>
<table class="table table-hover table-inverse">
  <% if @range == "User" %>
  <!--検索モデルがUserの時-->
    <tbody>
      <% @user.each do |user| %>
        <tr>
          <td><%= image_tag user.get_profile_image(50,50) %></td>
          <td><%= user.name %></td>
          <td>フォロー数: <%= user.followings.count %></td>
          <td>フォロワー数: <%= user.followers.count %></td>
          <% if user_signed_in? %>
            <td><%= link_to "ユーザー詳細", user_path(user.id) %></td>
          <% else %>
          <!--ログインしていなければ新規登録画面へ-->
            <td><%= link_to "ユーザー詳細", new_user_registration_path %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  <% else %>
  <!--検索モデルがPostの時-->
    <% @post.each do |post| %>
      <div>
        <% if user_signed_in? %>
          <%= link_to user_path(post.user.id) do %>
            <%= image_tag post.user.get_profile_image(100,100) %>
            <p><%= post.user.name %></p>
          <% end %>
          <%= link_to post_path(post.id) do %>
            <%= image_tag post.get_image(400,400) %>
          <% end %>
        <% else %>
        <!--ログインしていなければ新規登録画面へ-->
          <%= link_to new_user_registration_path do %>
          <%= image_tag post.user.get_profile_image(100,100) %>
          <p><%= post.user.name %></p>
          <% end %>
          <%= link_to new_user_registration_path do %>
            <%= image_tag post.get_image(400,400) %>
          <% end %>
        <% end %>
        <p>title：<%= post.title %></p>
        <p>説明：<%= post.explanation %></p>
        <!--ログインしていればいいねを押せる-->
        <% if user_signed_in? %>
          <p class="favorite-btn_<%= post.id %>">
            <%= render 'user/favorites/favorite', post: post %>
          </p>
        <% end %>
        <p>コメント数:<%= post.post_comments.count %></p>
      </div>
    <% end %>
  <% end %>
