<h2>検索結果</h2>
<h4>キーワード検索</h4>
<%= render 'user/homes/search' %>
<table class="table table-hover table-inverse">
  <% if @range == "User" %>
  <!--検索モデルがUserの時-->
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= image_tag user.get_profile_image(50,50) %></td>
          <td><%= user.name %></td>
          <td>フォロー数: <%= user.followings.count %></td>
          <td>フォロワー数: <%= user.followers.count %></td>
          <% if user_signed_in? %>
            <td><%= link_to "ユーザー詳細", user_path(user.id) %></td>
          <% else %>
          <!--ログインしていなければ新規登録画面へ-->
            <td><%= link_to "ユーザー詳細", new_user_registration_path %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  <% else %>
  <!--検索モデルがPostの時-->
  <div class="card-list-container py-5">
    <% @posts.each do |post| %>
      <div class="card w-75 mx-auto mt-4 shadow-lg">
        <% if user_signed_in? %>
          <%= link_to post_path(post.id) do %>
            <%= image_tag post.get_image, class:"card-img-top"; %>
          <% end %>
          <div class="card-body">
            <div class="row">
              <%= link_to user_path(post.user.id) do %>
                <%= image_tag post.user.get_profile_image(100,100) %> <%= post.user.name %>
              <% end %>
            </div>
          </div>
        <% else %>
        <!--ログインしていなければ新規登録画面へ-->
          <%= link_to new_user_registration_path do %>
            <%= image_tag post.get_image, class:"card-img-top"; %>
          <% end %>
          <div class="card-body">
            <div class="row">
              <%= link_to new_user_registration_path do %>
                <%= image_tag post.user.get_profile_image(100,100) %> <%= post.user.name %>
              <% end %>
            </div>
          </div>
        <% end %>
        <div class="card-body">
          <div class="row">
            <div class="col-12">
              <p class="card-title">タイトル：<%= post.title %></p>
              <p class="card-explanation">内容：<%= post.explanation %></p>
              <!--ログインしていればいいねを押せる-->
              <% if user_signed_in? %>
                <span class="favorite-btn_<%= post.id %>">
                  <%= render 'user/favorites/favorite', post: post %>
                </span>
              <% end %>
              <span class="card-comment">コメント数:<%= post.post_comments.count %></span>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</table>
