<div class="row">
  <% if @user == current_user %>
    <h1 class="mt-2">マイページ</h1>
  <% else %>
    <h1 class="mt-2">ユーザー詳細</h1>
  <% end %>
</div>
<div class="profile-container w-75 mx-auto justify-content-around align-items-center border-bottom py-5">
  <div class="row">
    <%= image_tag @user.get_profile_image(100,100) %>
    <h5 class="name display-4 ml-3"><%= @user.name %></h5>
    <div class="d-flex align-items-center pl-3 px-2">
      <span class="follow-btn_<%= @user.id %>">
        <%= render 'user/relationships/followbtn', user: @user %>
      </span>
    </div>
    <span class="d-flex align-items-center px-2"><%= link_to "フォロー一覧", user_followings_path(@user.id) %></span>
    <span class="d-flex align-items-center px-2"><%= link_to "フォロワー一覧",user_followers_path(@user.id) %></span>
  </div>

  <div class="d-flex flex-column">
    <p>自己紹介</p>
    <p><%= @user.introduction %></p>
  </div>
</div>
<div class="card-list-container py-5">
  <% @posts.each do |posts| %>
    <div class="card w-75 mx-auto mt-4 shadow-lg">
      <%= link_to post_path(posts.id) do %>
       <%= image_tag posts.get_image, class:"card-img-top"; %>
      <% end %>
      <div class="card-body">
        <div class="row">
          <div class="col-12">
            <p class="card-title">タイトル: <%= posts.title %></p>
            <p class="card-explanation">内容:<%= posts.explanation %></p>
            <span class="favorite-btn_<%= posts.id %>">
              <%= render 'user/favorites/favorite', post: posts %>
            </span>
            <span class="card-comment">コメント数:<%= posts.post_comments.count %></span>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>