<% if @user == current_user %>
  <h1>マイページ</h1>
<% else %>
  <h1>ユーザー詳細</h1>
<% end %>
<div>
  <%= image_tag @user.get_profile_image(100,100) %>
  <h3><%= @user.name %></h3>
  <div class="follow-btn_<%= @user.id %>">
    <%= render 'user/relationships/followbtn', user: @user %>
  </div>
  <%= link_to "フォロー一覧", user_followings_path(@user.id) %>
  <%= link_to "フォロワー一覧",user_followers_path(@user.id) %>
  <div><%= @user.introduction %></div>
</div>

<% @posts.each do |posts| %>
<div>
  <%= link_to post_path(posts.id) do %>
   <%= image_tag posts.get_image %>
  <% end %>
  <p>タイトル:<%= posts.title %></p>
  <p>内容:<%= posts.explanation %></p>
  <p class="favorite-btn_<%= posts.id %>">
    <%= render 'user/favorites/favorite', post: posts %>
  </p>
  <p>コメント数:<%= posts.post_comments.count %></p>
</div>
<% end %>
