<h1>User::Posts#index</h1>
<% @posts.each do |post| %>
<div>
  <%= image_tag post.get_image %>
  <p>ユーザー画像：<%= image_tag 'sample-author1.jpg' %></p>
  <p><%= post.user.name %></p>
  <p>title：<%= post.title %></p>
  <p>説明：<%= post.explanation %></p>
</div>
<% end %>
