<h1>User::Posts#index</h1>
<h4>キーワード</h4>
<%= render 'user/homes/search' %>
<h4>ジャンル検索</h4>
<%= form_tag posts_path, method: :get do %>
  <% @genres.each do |genre| %>
    <div class="tag-box">
      <%= link_to genre.name, posts_path(name: genre.id) %>
    </div>
  <% end %>
  <% if user_signed_in? %>
    <div class="tag-box">
      <%= link_to "全ての投稿へ", posts_path %>
    </div>
  <% end %>
  <% @posts.each do |post| %>
    <div>
      <% if user_signed_in? %>
        <%= link_to user_path(post.user.id) do %>
          <%= image_tag post.user.get_profile_image(100,100) %>
          <p><%= post.user.name %></p>
        <% end %>
        <%= link_to post_path(post.id) do %>
          <%= image_tag post.get_image(400,400) %>
        <% end %>
      <% else %>
      <!--ログインしていなければ新規登録画面へ-->
        <%= link_to new_user_registration_path do %>
          <%= image_tag post.user.get_profile_image(100,100) %>
          <p><%= post.user.name %></p>
        <% end %>
        <%= link_to new_user_registration_path do %>
          <%= image_tag post.get_image(400,400) %>
        <% end %>
      <% end %>
      <p>title：<%= post.title %></p>
      <p>説明：<%= post.explanation %></p>
      <% if user_signed_in? %>
        <p class="favorite-btn_<%= post.id %>">
          <%= render 'user/favorites/favorite', post: post %>
        </p>
      <% end %>
      <p>コメント数:<%= post.post_comments.count %></p>
    </div>
  <% end %>
<% end %>
