<h1>User::Posts#index</h1>
<% @posts.each do |post| %>
<div>
  <%= image_tag post.user.get_profile_image(100,100) %>
  <p><%= post.user.name %></p>
  <%= link_to post_path(post.id) do %>
    <%= image_tag post.get_image %>
  <% end %>
  <p>title：<%= post.title %></p>
  <p>説明：<%= post.explanation %></p>
  <p>コメント数:<%= post.post_comments.count %></p>
</div>
<% end %>
