<h1>User::Posts#show</h1>
<div>
  <%= image_tag @post.user.get_profile_image(100,100) %>
  <p><%= @post.user.name %></p>
  <%= image_tag @post.get_image %>
  <p>title：<%= @post.title %></p>
  <p>説明：<%= @post.explanation %></p>
  <% if @post.favorited_by?(current_user) %>
    <p>
      <%= link_to post_favorites_path(@post.id), method: :delete do %>
        ♥<%= @post.favorites.count %> いいね
      <% end %>
    </p>
    <% else %>
    <p>
      <%= link_to post_favorites_path(@post.id), method: :post do %>
        ♡<%= @post.favorites.count %> いいね
      <% end %>
    </p>
  <% end %>
  <p>コメント数：<%= @post.post_comments.count %></p>
  <% if @post.user == current_user %>
    <%= link_to "編集", edit_post_path(@post.id) %>
    <%= link_to "削除", post_path(@post.id), method: :delete  %>
  <% end %>
  <p><%= @post.created_at.strftime('%Y/%m/%d') %></p>
</div>

<div>
  <%= form_with model: [@post, @post_comment] do |f| %>
    <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %>
    <%= f.submit "送信する" %>
  <% end %>
</div>

<div>
  <% @post.post_comments.each do |post_comment| %>
  <p><%= image_tag post_comment.user.get_profile_image(50,50) %></p>
    <%= post_comment.user.name %>
    <%= post_comment.comment %><%= post_comment.created_at.strftime('%Y/%m/%d') %>
    <% if post_comment.user == current_user %>
      <%= link_to "削除", post_post_comment_path(post_comment.post, post_comment.id), method: :delete %>
      <!----上記()内はネストした時の書き方で、親要素,子要素になる>
    <% end %>
  <% end %>
</div>
